div .container-fluid {
  scroll-margin-top: 4.5em !important;
}
.navbar a {
  padding: 0 !important;
  margin: 0 !important;
}
.card-text {
  font-size: 15px;
}
.techstack div {
  background-color: #f3f4f6 !important;
  font-size: 15px;
}
.w-70 {
  width: 60px !important;
}
.w-100px {
  width: 90px !important;
}
.card-width {
  max-width: 400px;
  row-gap: 2.5em;
}
.card-img-width {
  object-fit: cover !important;
  object-position: top;
  aspect-ratio: 4/4;
}

@media (min-width: 768px) {
  .card-width {
  max-width: unset;
  row-gap:unset;
}
}